body {
  background-color: #f5f5f5;

  #setupHeader {
    display: flex;
  }

  .form-label {
    font-weight: 540;
    font-size: 20px;
  }

  .metric-header{
    font-weight: 540;
    font-size: 25px;
  }

  .btn.btn-export {
    background: linear-gradient(to left, #9f9fed 50%, #736ced 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    width: 50%;
    height: 50px;
    padding: 10px;
    border-color: #736ced;
    color: #f5f5f5;

    &:hover {
      background-position: left;
    }
  }

  #dangerSetup {
    background: linear-gradient(to left, #9f9fed 50%, #736ced 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    width: 50%;
    border-color: #736ced;
    color: #f5f5f5;

    &:hover {
      background-position: left;
    }
  }

  .btn.btn-primary {
    background: linear-gradient(to left, #9f9fed 50%, #736ced 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    width: 100%;
    border-color: #736ced;
    color: #f5f5f5;

    &:hover {
      background-position: left;
    }
  }
  .buttons {
    display: flex;
  }
  .btn.btn-secondary{
    background: linear-gradient(to left, #9f9fed 50%, #736ced 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    width: 50%;
    border-color: #736ced;
    color: #f5f5f5;
    line-height: 45px; 
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;

    &:hover {
      background-position: left;
    }
  }

  #dangerDisplay {
    background: linear-gradient(to left, #9f9fed 50%, #736ced 50%) right;
    background-size: 200%;
    transition: 0.3s ease-out;
    width: 50%;
    border-color: #736ced;
    color: #f5f5f5;
    height: 60px;

    &:hover {
      background-position: left;
    }
  }

  .my-4 {
    text-align: center;
    font-weight: 245;
    font-size: 50px;
    padding-bottom: 15px;
  }

  #generalHeader{
    text-align: center;
    font-weight: 245;
    font-size: 50px;
    padding-bottom: 15px;
  }

  #headerKite {
    padding: 10px;
  }

  .form-control {
    background-color: #f5f5f5;

    &:focus {
      background-color: #f5f5f5;
    }
  }

  .gx-1.gy-1.row {
    display: flex;
  }

  .align-items-end.row {
    display: flex;
    justify-content: flex-end;
  }

  .col-4 {
    width: 25%;
  }

  .col-2 {
    width: 25%;
  }

  .col-3 {
    width: 25%;
  }

  .bg-dark {
    background-color: #736ced !important;
  }

  .nav-link {
    color: #f5f5f5 !important;
  }

  .align-items-end.row {
    display: flex;
    justify-content: start;
  }

  .metrics1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .metrics2{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
